# Extract

In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
# Extract CSV
test = "../Project-3/test.csv"
test_df = pd.read_csv(test)
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [3]:
train = "../Project-3/train.csv"
train_df = pd.read_csv(train)
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

# Transform

In [4]:
cleaned_test_df = test_df.drop(labels=["MSSubClass", "MSZoning", "LotFrontage", "Street", "Alley",
                                "LotShape","LandContour","LandSlope","RoofStyle","MasVnrType","BsmtQual","BsmtCond", 
                                "BsmtExposure","BsmtFinType1","BsmtFinSF1","BsmtFinSF2","BsmtUnfSF","TotalBsmtSF",
                                "Heating","HeatingQC","CentralAir","Electrical","1stFlrSF","2ndFlrSF","LowQualFinSF","KitchenAbvGr",
                                "TotRmsAbvGrd","GarageYrBlt","GarageFinish","GarageCars","GarageQual","WoodDeckSF","OpenPorchSF",
                                "EnclosedPorch","3SsnPorch","ScreenPorch","PoolArea","PoolQC","Fence","MiscFeature",
                                "MiscVal"],axis=1).copy()
cleaned_test_df.head()

,Id,LotArea,Utilities,LotConfig,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,...,Fireplaces,FireplaceQu,GarageType,GarageArea,GarageCond,PavedDrive,MoSold,YrSold,SaleType,SaleCondition
0,1461,11622,AllPub,Inside,NAmes,Feedr,Norm,1Fam,1Story,5,...,0,NaN,Attchd,730.0,TA,Y,6,2010,WD,Normal
1,1462,14267,AllPub,Corner,NAmes,Norm,Norm,1Fam,1Story,6,...,0,NaN,Attchd,312.0,TA,Y,6,2010,WD,Normal
2,1463,13830,AllPub,Inside,Gilbert,Norm,Norm,1Fam,2Story,5,...,1,TA,Attchd,482.0,TA,Y,3,2010,WD,Normal
3,1464,9978,AllPub,Inside,Gilbert,Norm,Norm,1Fam,2Story,6,...,1,Gd,Attchd,470.0,TA,Y,6,2010,WD,Normal
4,1465,5005,AllPub,Inside,StoneBr,Norm,Norm,TwnhsE,1Story,8,...,0,NaN,Attchd,506.0,TA,Y,1,2010,WD,Normal

In [5]:
cleaned_train_df = train_df.drop(labels=["MSSubClass", "MSZoning", "LotFrontage", "Street", "Alley",
                                "LotShape","LandContour","LandSlope","RoofStyle","MasVnrType","BsmtQual","BsmtCond", 
                                "BsmtExposure","BsmtFinType1","BsmtFinSF1","BsmtFinSF2","BsmtUnfSF","TotalBsmtSF",
                                "Heating","HeatingQC","CentralAir","Electrical","1stFlrSF","2ndFlrSF","LowQualFinSF","KitchenAbvGr",
                                "TotRmsAbvGrd","GarageYrBlt","GarageFinish","GarageCars","GarageQual","WoodDeckSF","OpenPorchSF",
                                "EnclosedPorch","3SsnPorch","ScreenPorch","PoolArea","PoolQC","Fence","MiscFeature",
                                "MiscVal"],axis=1).copy()
cleaned_train_df.head()

,Id,LotArea,Utilities,LotConfig,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,...,FireplaceQu,GarageType,GarageArea,GarageCond,PavedDrive,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,8450,AllPub,Inside,CollgCr,Norm,Norm,1Fam,2Story,7,...,NaN,Attchd,548,TA,Y,2,2008,WD,Normal,208500
1,2,9600,AllPub,FR2,Veenker,Feedr,Norm,1Fam,1Story,6,...,TA,Attchd,460,TA,Y,5,2007,WD,Normal,181500
2,3,11250,AllPub,Inside,CollgCr,Norm,Norm,1Fam,2Story,7,...,TA,Attchd,608,TA,Y,9,2008,WD,Normal,223500
3,4,9550,AllPub,Corner,Crawfor,Norm,Norm,1Fam,2Story,7,...,Gd,Detchd,642,TA,Y,2,2006,WD,Abnorml,140000
4,5,14260,AllPub,FR2,NoRidge,Norm,Norm,1Fam,2Story,8,...,TA,Attchd,836,TA,Y,12,2008,WD,Normal,250000

In [12]:
cleaned_test_df.to_csv('Resources/cleaned_test.csv', index=False, header=True)

In [14]:
cleaned_train_df.to_csv('Resources/cleaned_trained.csv', index=False, header=True)

# Database Connection

In [9]:
connection_string = "postgres:sana@localhost:5432/house_prices"
engine = create_engine(f'postgresql://{connection_string}')

# Load

In [10]:
cleaned_test_df.to_sql(name='test', con=engine, if_exists='append', index=True)

In [11]:
cleaned_train_df.to_sql(name='train', con=engine, if_exists='append', index=True)